@tailwind base;
@tailwind components;
@tailwind utilities;
@import "animation";
@import "special";
@import "contact-form";
@import "buttons";
@import "carousel";
.to-do {
  @apply bg-red-500;
}

button, input[type=button] {
  @apply outline-none focus:outline-none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
  font-size: calc(100vw * 16/375);
}

body{
  @apply font-global;
}

p {
  @apply text-xs text-b3 leading-loose;
}

[v-scope] {
  @apply hidden;
}

input[type="text"], input[type="email"], input[type="search"], input[type="tel"], textarea {
  @apply outline-none;
}

@screen md {
  html {
    font-size: calc(100vw * 16/1024);
  }
}

@screen xl {
  html {
    font-size: calc(100vw * 16/1920);
  }
}

.overlay {
  @apply absolute w-full h-full inset-0;
}

.cover-image {
  @apply w-full h-full object-cover;
}

// burger icon
.hamburger-lines {
  @apply z-50;
  position: relative;
  width: 1.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .line {
    @apply absolute top-1/2 left-0 bg-b1;
    display: block;
    height: 1px;
    width: 100%;
  }
  .line1 {
    @apply -translate-y-2;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    transform-origin: right;
    transition: transform 0.6s ease-in-out;
  }
  .line3 {
    @apply translate-y-2;
    transition: transform 0.4s ease-in-out;
  }
  &.active {
    .line {
      @apply bg-white;
    }
    .line1 {
      @apply translate-y-0;
      transform: rotate(45deg);
    }
    .line2 {
      transform: scaleX(0);
    }
    .line3 {
      @apply translate-y-0;
      transform: rotate(-45deg);
    }
  }
}

// head title
.head-title {
  @apply font-rc font-light text-4xl leading-[2.875rem] tracking-[0.03rem];
  &.smaller {
    @apply text-[2rem];
  }
  strong {
    @apply font-bold;
  }
}

.page-title {
  @apply font-rc font-bold text-lg tracking-wide;
}

.about-title {
  @extend .head-title;
  @apply text-xl leading-[1.75rem];
}

//section-bottom-btn 白色方格子按鈕
.section-bottom-btn {
  @apply py-5 px-[4.25rem] block w-fit mx-auto bg-white mt-8 font-rc text-sm tracking-[0.05rem] text-b1;
}

// section title 欄位標題
.section-title {
  @apply font-rc font-bold text-[1.75rem] tracking-wider text-b1 leading-8;
  .small-num {
    @apply inline-block w-[1.3rem] ml-2;
  }
}
.section-sub {
  @apply text-xs mt-1 text-b1 tracking-[0.1rem] leading-[1rem];
}

// news-list
ul.news-list {
  @apply flex flex-col;
  li {
    @apply border-b border-l1 py-6 first:border-t
  }
  a {
    @apply flex justify-between items-center;
    .info {
      @apply flex flex-col justify-between gap-3;
      .date-tag {
        @apply flex gap-[1.375rem] justify-between w-fit font-rc tracking-[0.05rem] text-xs text-b1;
      }
    }
    h4 {
      @apply tracking-[0.02rem] text-b3 text-sm;
    }
  }
}

//slogan
.slogan {
  @apply bg-b2 border-b border-b2 flex items-center justify-center text-c1 py-3 px-11 text-xs tracking-[0.1rem] font-medium;
  &.dark {
    @apply bg-c2 border-c2 text-white;
  }
}
