@tailwind base;
@tailwind components;
@tailwind utilities;
@import "header";
@import "animation";
@import "special";
@import "contact-form";
@import "buttons";
@import "carousel";
.to-do {
  @apply bg-red-500;
}

button, input[type=button] {
  @apply outline-none focus:outline-none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
  font-size: calc(100vw * 16/375);
}

body{
  @apply font-global;
}

p {
  @apply text-xs text-b3 leading-loose tracking-widest;
}

[v-scope] {
  @apply hidden;
}

input[type="text"], input[type="email"], input[type="search"], input[type="tel"], textarea {
  @apply outline-none;
}

@screen md {
  html {
    font-size: calc(100vw * 16/1024);
  }
}

@screen xl {
  html {
    font-size: calc(100vw * 16/1920);
  }
}

.overlay {
  @apply absolute w-full h-full inset-0;
}

.cover-image {
  @apply w-full h-full object-cover;
}

// head title
.head-title {
  @apply font-rc font-light text-4xl leading-[2.875rem] tracking-[0.03rem];
  &.smaller {
    @apply text-[2rem];
  }
  strong {
    @apply font-bold;
  }
}

.page-title {
  @apply font-rc font-bold text-lg tracking-wide;
}

.about-title {
  @extend .head-title;
  @apply text-xl leading-[1.75rem];
}

.about-sp-title {
  @apply bg-c2 py-3 pr-5 pl-[4.75rem] text-white w-fit;
}

//section-bottom-btn 白色方格子按鈕
.section-bottom-btn {
  @apply py-5 px-[4.25rem] block w-fit mx-auto bg-white mt-8 font-rc text-sm tracking-[0.05rem] text-b1;
}

// section title 欄位標題
.section-title {
  @apply font-rc font-bold text-[1.75rem] tracking-wider text-b1 leading-8;
  .small-num {
    @apply inline-block w-[1.3rem] ml-2;
    path, text {
      @apply fill-b1;
    }
    &.white {
      path, text {
        @apply fill-white;
      }
    }
    &.no-num {
      @apply -ml-1;
    }
  }
}
.section-sub {
  @apply text-xs mt-1 text-b1 tracking-widest leading-[1rem];
}

.sm-title {
  @apply text-xl leading-[1.8rem] tracking-widest font-medium;
}

.num-title {
  @apply font-rc font-light text-[2.625rem] leading-[3.125rem];
}

// news-list
ul.news-list {
  @apply flex flex-col;
  li {
    @apply border-b border-l1 py-6 first:border-t
  }
  a {
    @apply flex justify-between items-center;
    .info {
      @apply flex flex-col justify-between gap-3;
      .date-tag {
        @apply flex gap-[1.375rem] justify-between w-fit font-rc tracking-[0.05rem] text-xs text-b1;
      }
    }
    h4 {
      @apply tracking-wider text-b3 text-xs;
    }
    .action {
      @apply pr-6;
    }
  }
}

//slogan
.slogan {
  @apply bg-b2 border-b border-b2 flex items-center justify-center text-c1 py-3 px-11 text-xs tracking-widest font-medium;
  &.dark {
    @apply bg-c2 border-c2 text-white;
  }
}

// projects
.project-grid {
  .image-container {
    @apply relative h-[13.75rem];
    img {
      @apply w-full h-full object-cover;
    }
    .tag {
      @apply absolute text-b1 text-xs px-4 py-2 bottom-0 right-6 bg-white leading-none;
    }
  }
  .info {
    @apply mt-4;
    .title{
      @apply flex items-end w-fit;
      h3 {
        @apply text-b1 text-xl tracking-widest leading-none;
      }
      div {
        @apply ml-5 text-xs text-b1 leading-none;
      }
    }
    .data {
      @apply mt-3 text-b3 text-xs;
      span {
        @apply text-b1 ml-3 mr-2.5;
      }
    }
  }
}

// news
.news-grid {
  .image-container {
    @apply relative h-[13.75rem];
    img {
      @apply w-full h-full object-cover;
    }
    .tag {
      @apply absolute text-b1 text-xs px-4 py-2 bottom-0 right-6 bg-white leading-none;
    }
  }
  .info {
    @apply mt-5;
    h3{
      @apply text-sm text-b1 tracking-widest;
    }
    .date {
      @apply text-xs text-b3 tracking-widest mt-3;
    }
  }
}
