<div class="_carousel">
    <div class="carousel-container">
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/?taiwan" loading="eager" />
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/?japan" loading="lazy" />
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/?korea" loading="lazy" />
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/?china" loading="lazy" />
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/?uk" loading="lazy" />
        </div>
    </div>
</div>
