<footer class="bg-b1 pt-[3.75rem] pb-12">
    <div class="container">
        <h3 class="section-title !text-b2">
            Contact
            <span class="small-num white" :class="`${num ? '' : 'no-num'}`" v-scope="smallNum('')"></span>
        </h3>
        <form
            class="contact-form text-footer"
            @submit="handleContactFormSumbit"
            autocomplete="off"
        >
            <div class="group-1 mt-6">
                <div>
                    <label>NAME</label>
                    <label>姓　　名</label>
                    <div>
                        <input type="text" name="name" autocomplete="off-name" />
                    </div>
                </div>
                <div>
                    <label>TEL / MOB</label>
                    <label>連絡電話</label>
                    <div>
                        <input type="tel" name="tel" autocomplete="off"/>
                    </div>
                </div>
                <div>
                    <label>ADD</label>
                    <label>通訊地址</label>
                    <div>
                        <input type="text" name="address" autocomplete="off"/>
                    </div>
                </div>
                <div>
                    <label>E-MAIL</label>
                    <label>電子郵件</label>
                    <div>
                        <input type="email" name="email" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="group-2 mt-6">
                <div>
                    <label>CONTENT</label>
                    <label>聯絡事項</label>
                </div>
                <textarea></textarea>
            </div>
            <button type="submit" class="send-btn mt-9">SEND</button>
        </form>
        <div class="mt-[3.75rem]">
            <h3 class="section-title !text-b2">
                Access
                <span class="small-num white" :class="`${num ? '' : 'no-num'}`" v-scope="smallNum('')"></span>
            </h3>
            <div class="to-do h-56">some footer info</div>
        </div>
        <div class="text-footer text-[0.625rem] mt-5">© LONG TERNG CONSTRUCTION CO.,LTD.  ALL RIGHTS RESERVED.</div>
    </div>
</footer>
