<header
    id="header"
    @vue:mounted="menuInit($el)"
>
    <div class="container flex justify-between">
        <a href="index.html">
            <div class="w-[6.875rem]">
                <include src="./src/components/logo.html"></include>
            </div>
        </a>
    </div>
</header>
<button id="burger_icon" class="hamburger-lines !fixed top-0 right-0 h-14 right-5" @click="mobileMenuActive = !mobileMenuActive" :class="`${mobileMenuActive ? 'active' : ''}`">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
</button>
<nav
    class="mobile-menu fixed w-full h-screen overflow-y-auto bg-c2 z-40 duration-1000 pl-11 pt-24 pb-16"
    :class="`${mobileMenuActive ? 'opacity-100' : 'opacity-0 pointer-events-none'}`"
>
    <div class="to-do h-[120vh]">
        <a href="demo.html">demo</a>
        <a href="about.html">About</a>
        <a href="projects.html">Projects</a>
        <a href="news.html">News</a>
<!--        <a href="news.html">News</a>-->
        Menu item
    </div>
</nav>
